/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display:flex;
}
.btn-contato button{
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 300;
    background-color: rgb(5, 226, 255);
    border:0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
h2.titulo{
    color: #fff;
    font-size: 35px;
    text-align:center;
    
}
h2.titulo span{
    color: #00fff2;
    margin: 40px 0;
}
button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #03f7d6;
    transform: scale(1.05);}

/* header */
    header{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
    background-color: #111;
    box-shadow: 0px 3px 10px #3d3d3d36;
    }

    .nav-bar {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 6rem;
    }
    .logo{
        display: flex;
        align-items: center;
    
    }
    .logo h1{
        color: azure;
    }
    .list{
        display: flex;
        align-items: center;
    }
    .list ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .nav-item{
        margin: 0px 15px;
    }
    .nav-link{
        text-decoration: none;
        font-size: 1.15rem;
        color: aliceblue;
        font-weight: 400;
    }
    .login-button button{
        border: none;
        background-color: #00e1ff;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .login-button button a{
        text-decoration: none;
        color: aliceblue;
        font-weight: 500;
        font-size: 1rem;
    }
    .mobile-menu-icon{
        display: none;
    }
    .mobile-menu{
        display: none;
    }
    /* ESTILO SOBRE */
        
    section.sobre{
        padding: 90px 14%;
    }
    .sobre .txt-sobre{
        color: #000000;
    }
    section.sobre .flex{
        align-items: center;
        gap: 60px;
    }
    .sobre .txt-sobre h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .sobre .txt-sobre h2 span{
       color: #8e9494;
       display: block;
    }
    .sobre .txt-sobre p{
        margin: 20px 0;
        text-align:inherit;
    }

/* ESTILO TOPO  */
section.tpo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 190px;
    margin-top: 9rem;
}
.topo-do-site h1{
    color: #fff;
    font-size: 45px;
    line-height: 40px; 
}
.topo-do-site .txt-topo-site h1 span{
    color: #03f7d6;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 50px 0;
}
.topo-do-site .img-topo-site img{
    border: 6px solid rgb(83, 83, 83);
    border-radius: 45%;
    height: 30rem;
    width: 30rem;

}

/* ESTILO DAS ESPECIALIDADES */
.tech-stack {
  padding: 60px 0;
  background: #111;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  transition: transform 0.3s ease;
}

.tech:hover {
  transform: scale(1.1);
}

.tech span {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* ESTILO SOBRE */
    
section.sobre{
    padding: 80px 4%;
}
.sobre .txt-sobre{
    color: #fff;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
   color: #00fff2;
   display: block;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
.btn-social button{
    width: 80px;
    height: 80px;
    border: none;
    background-color: #000000;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: 1.02s;
    color: #ffffff;
    
}
/* ESTILO DO MEUS PROJETOS */
.projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #111;
}
#dishes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:24px;
    margin-top: 32px;
}
.dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #96969673;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}
.dish:hover{
    box-shadow: 0px 0px 8px #3b3b3b;
    transform: scale(1.02);
}
.dish-image{
    width: 14rem;
    height: 14rem;
    border-radius: 50px;
    object-fit: cover;
}
.dish-description{
    color: #ffffff;
    text-align: center;
}
.dish-price{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* RODAPÉ */
footer{
    padding: 60px 4%;
}
footer .flex{
    justify-content: space-between;
}
footer .line-footer {
    margin: 20px 0 ;
}

footer .line-footer p i{
color: #00fff2;
font-size: 30px;
}
footer .line-footer p a{
    color: #fff;
}
.borda{
    border-top: 2px solid #00fff2;
    
}
/* responsividade */
@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* tech-stack */
    section.tech-stack {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }


    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}
/* responsividade header */
@media screen and (max-width: 730px) {
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }
}
@media screen and (max-width: 1170px) {
    #projetos{
        flex-wrap: wrap;
        justify-content: center;
    }
    .dish{
        width: calc(50% - 12px);
    }
}
@media screen and (max-width: 600px) {
    .dish{
        width: 100%;
    }
}